<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="gr.teilar.dionysos"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/appName">
		<activity
			android:name=".SplashScreen"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".MainMenu"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity
			android:name=".PreferencesScreen"
			android:label="@string/preferences" />
		<activity
			android:name=".AboutAppScreen"
			android:label="@string/appName"
			android:theme="@android:style/Theme.Dialog" />
	</application>
</manifest>
